<div class="post">
    <h1><%= @post.user_id %></h1>
    <h1 class="post-title"><%= @post.title %></h1>
    <span class="post-date"><%= @post.created_at %></span>
    <p style="white-space: pre-line;">
        <%= @post.content %>
    </p>
</div>
<a href = '/blog/list/'>
    <button class="btn btn-default">list</button>
</a>
<% if user_signed_in? %>
    <% if current_user.email == "96eric@kaist.ac.kr" %>
        <a href = '/blog/destroy/<%= @post.id %>'>
            <button class="btn btn-default">delete</button>
        </a>
        <a href = '/blog/edit/<%= @post.id %>'>
            <button class="btn btn-default">edit</button>
        </a>
    <% end %>
<% end %>