<!DOCTYPE html>
<html>
<head>
  <title>MIN's BLOG</title>

  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <%= javascript_include_tag 'application'%>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag    'application'%>
  <%= csrf_meta_tags %>
  <comment>
  <link rel="stylesheet" type="text/css" href="trix.css">
  <script type="text/javascript" src="trix.js"></script>
  </comment>

</head>
<body>
  <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

  <!-- Toggleable sidebar -->
  <div class="sidebar" id="sidebar">
    <div class="sidebar-item">
      <p>MIN's Blog</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/blog/intro">Home</a>
      <a class="sidebar-nav-item" href="/blog/list">Essays</a>
      <% if user_signed_in? %>
        <a class="sidebar-nav-item" href='/users/sign_out'><%= current_user.email %> (logout)</a>
      <% else %>
        <a class="sidebar-nav-item" href='/users/sign_in'>Sign in</a>
      <% end %>
    </nav>

    <div class="sidebar-item">
      <p>
      </p>
    </div>
  </div>

  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="/" title="Home">home</a>
          <small></small>
        </h3>
      </div>
    </div>

    <div class="container content">
      <%= yield %>
    </div>
  </div>
  <label for="sidebar-checkbox" class="sidebar-toggle"></label>
  <script>
    (function(document) {
      var toggle = document.querySelector('.sidebar-toggle');
      var sidebar = document.querySelector('#sidebar');
      var checkbox = document.querySelector('#sidebar-checkbox');

      document.addEventListener('click', function(e) {
        var target = e.target;

        if(!checkbox.checked ||
           sidebar.contains(target) ||
           (target === checkbox || target === toggle)) return;

        checkbox.checked = false;
      }, false);
    })(document);
  </script>


</body>
</html>
